[submodule "classroom/tablet/js/sail.js"]
	path = classroom/tablet/js/sail.js
	url = git@github.com:educoder/sail.js.git
[submodule "agents/sail.rb"]
	path = agents/sail.rb
	url = git@github.com:educoder/sail.rb.git
[submodule "smartroom/tablet/js/sail.js"]
	path = smartroom/tablet/js/sail.js
	url = git@github.com:educoder/sail.js.git
[submodule "smartroom/sideboard/js/sail.js"]
	path = smartroom/sideboard/js/sail.js
	url = git@github.com:educoder/sail.js.git
[submodule "smartroom/frontboard-aggregator/js/sail.js"]
	path = smartroom/frontboard-aggregator/js/sail.js
	url = git@github.com:educoder/sail.js.git
[submodule "smartroom/teacher/js/sail.js"]
	path = smartroom/teacher/js/sail.js
	url = git@github.com:educoder/sail.js.git
[submodule "smartroom/frontwall-tracker/js/sail.js"]
	path = smartroom/frontwall-tracker/js/sail.js
	url = git@github.com:educoder/sail.js.git