/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

/** sail.css **/
.mask {
  opacity: 0.7;
  background-color: #000;
  position: absolute;
  z-index: 1000;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.widget-box {
    text-align: center;
    color: #fff;
    background-color: #333;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);  
    -moz-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);  
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}
.auth-box {
    position: absolute;
    top: 14% !important;
    left: 10%;
    right: 10%;
    padding: 0 20px 20px 20px !important;
}


#connecting {
    top: 190px !important;
}


/** used in jquery.mobile.toast.js **/
.ui-sail-loading-icon {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #2A2A2A;
    background-image: url("../loader.gif");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 46px 46px;
    
    border-radius: 36px 36px 36px 36px;
    display: block;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    padding: 1px;
    width: 44px;
}

/** codiqa generated **/
.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

/** teacher styles **/

.teacher {
    background: #F3D0D0;
}

.teacher .foobar {

}

/** student styles **/

.student {

}

#loginScreen #statusMsg {
    font-size: 1.2em;
    margin: 370px auto 100px auto;
}

.paper {
    padding: 1.5em 50px 30px 50px;
    width: 725px;
    margin: 0px auto 50px auto;
    font-size: 1.2em;
    position: relative;
    background: #fff url(/assets/img/paperclip.png) no-repeat 12px 0;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);  
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);  
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1); 
}

.paper h2 {
    margin-top: 0;
    text-align: center;
}

.paper:before, .paper:after {
    position: absolute;
    width: 40%;
    height: 10px;
    content: ' ';
    left: 12px;
    bottom: 12px;
    background: transparent;
    -webkit-transform: skew(-5deg) rotate(-5deg);
    -moz-transform: skew(-5deg) rotate(-5deg);
    -ms-transform: skew(-5deg) rotate(-5deg);
    -o-transform: skew(-5deg) rotate(-5deg);
    transform: skew(-5deg) rotate(-5deg);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.paper:after {
    left: auto;
    right: 12px;
    -webkit-transform: skew(5deg) rotate(5deg);
    -moz-transform: skew(5deg) rotate(5deg);
    -ms-transform: skew(5deg) rotate(5deg);
    -o-transform: skew(5deg) rotate(5deg);
    transform: skew(5deg) rotate(5deg);
}

/* override the jquery mobile styles because it ruins the paper effect */
.ui-body-c{
    background-image: none !important;
}

.ui-overlay-c {
     background-color: #eee !important;
}

.ui-content {
    padding-top: 0;
}


.checklist-img {
    float: left;
    width: 166px;
    margin-right: 20px;
}

.checklist-img-2 {
    float: left;
    width: 120px;
    margin-right: 20px;
}

.checklist-img-3 {
    float: left;
    width: 80px;
    margin-right: 10px;
    overflow: hidden;
}


.checklist {
    float: left;
}

.ui-controlgroup-vertical .ui-btn, .ui-controlgroup-vertical .ui-checkbox, .ui-controlgroup-vertical .ui-radio {
    margin-bottom: 2px;
    border-bottom-width: 1px;
}

#peerEquations .ui-checkbox {
    width: 320px;
    margin-right: 10px;
    float: left;
}

#peerEquations .ui-checkbox label {
    height: 65px;
}

#peerEquations .ui-checkbox, #peerEquations .ui-radio {
    clear: none;
}

#peerEquations .ui-btn-icon-left .ui-btn-inner .ui-icon, 
#peerEquations .ui-btn-icon-right .ui-btn-inner .ui-icon {
    margin-top: -23px;
}

.MathJax_Display {
    margin: 0.1em 0em !important;
    width: auto !important;
    float: left;     
    height: 70px !important;
}

/* override the jquery mobile styles because it ruins the checklist image float:left effect */
#principleReview .ui-bar, 
#principleReview .ui-body,
#equationsReview .ui-bar, 
#equationsReview .ui-body 
{
    clear: none;
}

.footnote {
    font-size: 0.8em;
}

.peer-count {
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    padding: 4px 7px;
    background-color: #71aed5;
    color: #fff;
    text-shadow: 0px 0px 7px #555;
    font-size: 11px;
    margin-left: 5px;
}

.ui-checkbox .peer-count {
    float: right;
}

#peerEquations .ui-checkbox .peer-count {
    margin-top: 11px;
}

.clear-floats {
    clear: both;
}

#principleConsensus table,
#equationConsensus table {
    border-collapse: collapse;
}

#principleConsensus th, #principleConsensus td,
#equationConsensus th, #equationConsensus td {
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px;
}

#principleConsensus th.tag-name,
#equationConsensus th.tag-name {
    text-align: left;
    padding-left: 10px;
}

#principleConsensus .ui-checkbox label,
#equationConsensus .ui-checkbox label {
    width: 50px;
    padding: 10px 0;
    margin: 0 auto;
}

#principleConsensus .ui-checkbox .ui-btn-inner,
#equationConsensus .ui-checkbox .ui-btn-inner {
    border: none;
}

.checklist_icon {
    width: 18px;
    height: 18px;
    margin: 0 auto;
    background-image: url(images/icons-18-black.png);
    background-repeat: no-repeat;
}

.no_icon {
    background-position-x: -70px; 
}

.yes_icon {
    background-position-x: -255px;
}


/** common styles **/

/* Styles used to override Sail login box */
#auth-indicator {
    z-index: 100;
    color: #fff;
    text-shadow: none;
}

.ui-title {
    margin-top: 0.8em !important;
}

#login-box.auth-box {
    min-width: 400px;
    max-width: 500px;
    margin: 0 auto;
    left: 0 !important;
    right: 0 !important;
    top: 135px !important;
}
/* END Styles used to override Sail login box */


/* Styles used on all p-***.html pages */
.skipButton {
    margin-top: 100px;
}
/* END Styles used on all p-***.html pages */


/* Styles exclusively for: p-taggingPrinciples.html */
/* END Styles exclusively for: p-taggingPrinciples.html */


/* Common styles for dragging and dropping to portal */
table.dragAndDropContainer {
    margin: 0 auto;
    border-collapse: collapse;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
}

table.dragAndDropContainer th {
    text-align: center;
}

table.dragAndDropContainer td, table.dragAndDropContainer th {
    /*border: 1px solid red;*/
    padding: 20px 0;
    font-weight: normal;
}

table.dragAndDropContainer .draggableTags {
    margin-top: -35px;
}


.tagDropArea .droparea-label {
    padding-top: 65px;
    padding-left: 5px;
    text-align: center;
    font-size: 1.3em;
    letter-spacing: 0.2em;
    color: #c9e4f6;
    text-shadow: none;
}

.tagDropArea {
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);  
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);  
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1); 
}

.circle {
    height: 150px;
    width: 150px;
    background-color: #9dcae6;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    text-transform: uppercase;
}

@-webkit-keyframes portalPulse {
    from { background-color: #9dcae6; -webkit-box-shadow:: 0 0 9px #333; }
    50% { background-color: #c9e4f6; -webkit-box-shadow:: 0 0 18px #c9e4f6; }
    to { background-color: #9dcae6; -webkit-box-shadow:: 0 0 9px #333; }
}

.idle {
   /* -webkit-animation-name: portalPulse;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;*/
}

.attention {
    -webkit-animation-name: portalPulse;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes dropShrink {
    0% {
        opacity: 1;
        -webkit-transform: scale(1); 
        visibility: visible;
    }
    100%{
        opacity: 0;
        -webkit-transform: scale(0); 
        visibility: hidden;
    }
}

.dropped {
    -webkit-animation-name: dropShrink;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards; /* need this otherwise button comes back into view */
}
/* Common styles for dragging and dropping to portal */


/* Styles exclusively for: p-taggingPrinciplesFinished.html */
/* END Styles exclusively for: p-taggingPrinciplesFinished.html */


/* Styles exclusively for: p-sortPrinciplesBoard.html */
/* ENDStyles exclusively for: p-sortPrinciplesBoard.html */


/* Styles used in : p-sortPrinciplesBoard.html AND p-taggingEquations.html */
#sortPrinciplesBoard .message, #taggingEquationsBoard .message {
    margin-top: 40px;
}

.board-assignment {
    font-weight: bold; 
    position: absolute; 
    top: 135px; 
    left: 50%; 
    width: 300px;
}

.board-assignment p {
    position: relative; 
    left: -145px;
    text-align: center;
}

.board-number {
    font-size: 1.5em;
}
/* Styles used in : p-sortPrinciplesBoard.html AND p-taggingEquations.html */

/* Styles exclusively for: p-taggingProblems.html */
#taggingProblems .ui-grid-b h2 {
    margin-top: 0.7em;
}

#taggingProblems .paper {
    background-image: none;
}

#taggingProblems #connected-tags ul {
    width: 46%;
    margin: 0 2%;
    float: left;
}
/* END Styles exclusively for: p-taggingProblems.html */
